#root {
  max-width: 100vw;
  background-color: white;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
}

li {
  text-align: left;
  font-size: 2vw;
}

#greeting {
  animation-name: funny;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

p {
  font-size: 2vw;
  text-align: justify;
  padding: 10px;
  padding-bottom: 0px;
}

.sidebar {
  flex: 1;
  position: relative;
  top: 0;
  width: auto;
  height: 300vh;
  background-color: #f0f0f0;
  border-right: 1px solid #ddd;
}

.headSelect {
  background-color: gold !important;
}

.headSelect:hover{
  background-color: goldenrod !important;
}

.sidebar a {
  display: block;
  padding: 5px 5px;
  font-size: 2vw;
  color: #0037ff;
  text-decoration: none;
  background-color: #ddd;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 10px;
}

.sidebar a:hover {
  background-color: grey;
}

.sidebar button {
  display: block;
  text-decoration: none;
  margin-left: 5px;
  margin-top: 5px;
  width: 90%;
  font-size: 2vw;
  padding: 2px;
}

.sidebar button:hover {
  text-decoration: none;
}

.sidebar u {
  display: block;
  font-size: 1.7vw;
}

.KMT-emblem {
  width: 20vw;
}

@keyframes funny {
  0% {
    font-size: small;
    color: blue;
  }

  50% {
    font-size: 7vw;
    color: red
  }

  100% {
    font-size: small;
    color: blue
  }
}

@media screen and (max-width:600px) {
  p{
    font-size: 3vw;
  }

  li{
    font-size: 3vw;
  }

  .sidebar button{
    margin-left: 3px;
    text-align: center;
  }
  
}