#root {
  max-width: 100vw;
  background-color: white;
  text-align: center;
}

.container{
  display: flex;
  flex-direction: row;
}

.sidebar{
  flex: 1;
  width: 15vw;
  height: 100vh;
  background-color: #f0f0f0;
  border-right: 1px solid #ddd;
}

.sidebar a{
  display: block;
  padding: 10px 15px;
  color: #001eff;
  text-decoration: none;
  background-color: #ddd;
  margin-top: 10px;
  border-radius: 10px;
}

.KMT-emblem{
  width: 20vw;
}